{% extends 'baseBack.html.twig' %}

{% block title %}LikeUser{% endblock %}

{% block body %}
    <h1>LikeUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdLike</th>
                <td>{{ like_user.idLike }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ like_user.idUser }}</td>
            </tr>
            <tr>
                <th>IdPlat</th>
                <td>{{ like_user.plat }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ like_user.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_like_user_back_index') }}">back to list</a>

    <a href="{{ path('app_like_user_back_edit', {'idLike': like_user.idLike}) }}">edit</a>

    {{ include('like_user_back/_delete_form.html.twig') }}
{% endblock %}
