{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="container mt-5">
            {% set errorFlash = app.session.flashBag.get('error') %}

        {% if errorFlash is not empty %}
            <div class="alert alert-danger" role="alert">
                    YOU ARE BLOCKED
            </div>
        {% endif %}
        <div class="login-container" style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; max-width: 400px; margin: 0 auto;">
            <h1 class="text-center mb-4">Login</h1>
            {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.password) }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            {{ form_end(form) }}
            <a href="{{ path('app_utilisateurs_new')}}">Inscription</a>
        </div>
    </div>

{% endblock %}
